[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
python-dotenv = "*"
aioredis = "*"
fastapi = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
uvicorn = "*"
logzero = "*"
httpx = "*"
minio = "*"
python-jose = "*"
python-multipart = "*"
google-api-python-client = "*"
passlib = "*"
motor = "*"
pytz = "*"

[dev-packages]
black = "*"
flake8 = "*"
radon = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
faker = "*"
types-pytz = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn main:app --reload --reload-exclude=.persist/*"
format = "black ."
flake = "flake8 ."
type = "mypy ."
sort = "isort ."
test = "pytest tests --maxfail=1 -v -s --cov=. --cov-report term"
exp = "pytest tests/mockery.py -v -s"

[pipenv]
allow_prereleases = true
